In [3]:
%load_ext autoreload
%autoreload 2
from devoir import Devoir

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
d = Devoir("23", "notes23.xlsx")
d.mean("itc_1", 
    {"mpp": 13},
    {"mpp" : 2.5}
)
# dd = d.anonymize()
# ds = "itc_1"
# classe = "mpp"
# # dc = dd["option"]["2"]["df"].query("classe == 'mpp'")
# print(d.df[ds].query(f"classe == '{classe}'")[["note", "nom"]])
# d.df[ds].query(f"classe == '{classe}'")[["note"]].to_clipboard(index=False, header=None)  #, "nom"]]

                                 nom classe    1    2    3    4    5    6  \
id
2004-11-18             AKHLAFA Amine    mpp  7.0  9.0  7.0  NaN  0.0  9.0
2006-06-03            AUBRIOT Martin    mpp  NaN  NaN  NaN  NaN  NaN  NaN
2003-08-20          BARBIER Emmanuel    mpp  9.0  9.0  5.0    0  3.0  0.0
2005-03-31                BATT Siméo    mpp  9.0  9.0  9.0    9  9.0  9.0
2004-11-22               BECT Mattéo    mpp  9.0  9.0  9.0    ?  2.0  9.0
2005-06-26          BENEFORTI Nicola    mpp  9.0  9.0  9.0    0  5.0  6.0
2004-05-02              BERARD Yanis    mpp  9.0  9.0  9.0    2  8.0  9.0
2005-08-19           CADOUX Alexiane    mpp  9.0  9.0  9.0    8  9.0  NaN
2003-11-15         CHOUCHANE Skander    mpp  9.0  9.0  6.0    1  2.0  NaN
2005-08-19           CICCARELLI Hugo    mpp  9.0  9.0  9.0    9  1.0  7.0
2004-09-03          COUTURIER Julien    mpp  7.0  9.0  9.0    6  7.0  9.0
2004-09-27                COVOLO Tom    mpp  9.0  9.0  2.0    6  9.0  9.0
2004-07-01  D'AVIAU DE TERNAY Maxime    mpp  9.0  9.0  9.0    6  2.0  9.0
2004-02-20              DARTEIL Côme    mpp  9.0  9.0  5.0    0  8.0  8.0
2005-03-11              DAVIN Arnaud    mpp  9.0  9.0  6.0    6  9.0  9.0
2004-08-02          DELATTRE Mathias    mpp  8.0  8.0  3.0    5  9.0  9.0
2003-01-18             DO RIO Franck    mpp  9.0  9.0  9.0    9  7.0  7.0
2004-10-02           DOLIGE Benjamin    mpp  9.0  9.0  8.0    9  5.0  9.0
2004-12-20       DUFFEZ Pierre-Louis    mpp  9.0  9.0  9.0    9  9.0  8.0
2005-04-05              DUMAS Eliott    mpp  9.0  9.0  9.0    9  9.0  9.0
2004-09-12           EHMIMED Houssam    mpp  8.0  8.0  9.0    8  2.0  NaN
2003-10-09               FRELY Matéo    mpp  9.0  9.0  9.0    9  9.0  9.0
2006-02-12        GAUSSORGUES Samuel    mpp  9.0  9.0  9.0    9  0.0  4.0
2004-04-13           KUPRADZE Giorgi    mpp  2.0  9.0  9.0    6  7.0  NaN
2004-01-09             MALLET Arsène    mpp  9.0  9.0  9.0    9  9.0  9.0
2005-11-14           MANEROUCK Teddy    mpp  9.0  9.0  9.0    9  2.0  9.0
2004-11-11               MATHON Paul    mpp  6.0  3.0  9.0    5  9.0  7.0
2004-09-17            MAZILLE Firmin    mpp  8.0  8.0  9.0    5  NaN  NaN
2003-07-30            MIKOLAJSKI Léo    mpp  8.0  9.0  9.0    9  9.0  9.0
2004-11-03               MOUNIER Leo    mpp  9.0  9.0  9.0    9  7.0  9.0
2004-08-16              PINCAS Louis    mpp  9.0  9.0  7.0    0  8.0  5.0
2004-08-02                ROUX Simon    mpp  8.0  9.0  9.0    9  9.0  9.0
2003-08-03             SEGURA Mathis    mpp  9.0  9.0  NaN    8  NaN  NaN
2003-05-22            SELMANE Khalis    mpp  8.0  9.0  9.0    8  4.0  9.0
2004-05-04            SIGURET Audric    mpp  9.0  9.0  9.0    8  9.0  9.0
2004-02-17              THIVARD Théo    mpp  9.0  9.0  1.0    2  1.0  9.0
2005-02-08       TORT MARTINEZ Adria    mpp  9.0  9.0  9.0    9  9.0  9.0
2004-03-11           VALETTE Quentin    mpp  9.0  9.0  9.0    7  9.0  9.0
2003-12-03               VILLE Alice    mpp  9.0  9.0  9.0    9  9.0  9.0

              7    8    9   10   11   12   13   14   15   16  brut  note
id
2004-11-18    5    9  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2006-06-03  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2003-08-20    6    3  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2005-03-31    8    9  9.0  5.0  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-11-22    6    ?  5.0  9.0  1.0    ?  5.0  NaN  NaN  NaN   0.0   NaN
2005-06-26    9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-05-02    3    9  2.0  5.0  NaN  NaN  NaN  2.0  2.0  NaN   0.0   NaN
2005-08-19    6    9  9.0  9.0  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2003-11-15  NaN    9  5.0  9.0  NaN    1  NaN  NaN  NaN  NaN   0.0   NaN
2005-08-19    9    9  8.0  8.0  NaN  NaN  NaN  NaN  1.0  0.0   0.0   NaN
2004-09-03    6    9  3.0  6.0  NaN  NaN  8.0  1.0  NaN  NaN   0.0   NaN
2004-09-27    9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-07-01    1    9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-02-20    4    8  NaN  NaN  0.0    0  NaN  NaN  NaN  NaN   0.0   NaN
2005-03-11    7    9  3.0  6.0  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-08-02    6    9  5.0  2.0  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2003-01-18    6    9  9.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-10-02    9    9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-12-20    8    9  8.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2005-04-05    ?  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-09-12  NaN    9  0.0  8.0  NaN    1  NaN  NaN  NaN  NaN   0.0   NaN
2003-10-09    9    9  9.0  9.0  NaN    4  4.0  3.0  NaN  NaN   0.0   NaN
2006-02-12    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-04-13  NaN    9  NaN  6.0  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-01-09    8    9  9.0  8.0  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2005-11-14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-11-11    2    8  9.0  8.0  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-09-17  NaN    9  NaN  NaN  NaN    2  NaN  NaN  NaN  NaN   0.0   NaN
2003-07-30    5    9  8.0  5.0  NaN    5  0.0  7.0  NaN  NaN   0.0   NaN
2004-11-03    7    9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-08-16    9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-08-02    9    9  7.0  8.0  2.0  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2003-08-03  NaN    8  9.0  9.0  NaN  NaN  NaN  3.0  NaN  NaN   0.0   NaN
2003-05-22  NaN    8  9.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-05-04    9    7  9.0  9.0  2.0  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-02-17  NaN    8  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2005-02-08    9    9  9.0  8.0  3.0  NaN  NaN  NaN  NaN  NaN   0.0   NaN
2004-03-11    7    9  NaN  NaN  NaN  NaN  NaN  5.0  NaN  NaN   0.0   NaN
2003-12-03    8    9  9.0  9.0  0.0  NaN  NaN  NaN  NaN  NaN   0.0   NaN

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [5]:
d.df[ds]

,classe,nom,prenom,I.1,I.2,I.3,II.1.1,II.1.2,II.1.3,II.1.4,...,III.6,III.7,III.8,III.9,III.10,III.11,III.12,brut,note,rang
id,,,,,,,,,,,,,,,,,,,,,
1411,mp,beard,élie,2.0,9.0,9.0,9.0,9.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.500000,9.5,12
312,mp,bernard,nicolas,NaN,NaN,NaN,9.0,9.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.333333,7.2,17
41,mp,bouhebbal,maher,NaN,NaN,NaN,9.0,9.0,9.0,4.0,...,9.0,0.0,0.0,NaN,NaN,NaN,NaN,18.666667,5.1,20
48,mp,chardigny,léon,0.0,0.0,0.0,9.0,9.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.833333,5.4,19
44,mp,cousty,corentin,0.0,0.0,0.0,9.0,5.0,0.0,9.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,49.000000,9.8,9
315,mp,couturier,owen,9.0,9.0,9.0,0.0,9.0,0.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.166667,6.1,18
3012,mp,decourchelle,charlie,NaN,NaN,NaN,9.0,9.0,9.0,9.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,51.833333,10.2,8
610,mp,diallo,souleymane,0.0,2.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.833333,2.6,22
2912,mp,dubeuf,charlène,9.0,9.0,9.0,9.0,5.0,9.0,9.0,...,9.0,9.0,0.0,NaN,NaN,NaN,1.0,49.333333,9.8,10
206,mp,gandon,martin,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,3.0,9.0,6.0,9.0,58.000000,11.2,7
39,mp,godet,pierre,9.0,9.0,9.0,9.0,9.0,NaN,9.0,...,9.0,2.0,NaN,NaN,NaN,NaN,NaN,63.166667,12.0,4
119,mp,granet,baptiste,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,NaN,NaN,NaN,9.0,79.833333,14.6,1
167,mp,latarche,levann,9.0,0.0,9.0,9.0,9.0,0.0,8.0,...,9.0,7.0,6.0,3.0,9.0,NaN,9.0,60.500000,11.6,6
142,mp,laurent,maxime,9.0,9.0,9.0,0.0,9.0,9.0,6.0,...,9.0,9.0,9.0,3.0,9.0,NaN,NaN,61.500000,11.7,5
2011,mp,lelong,antoine,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,0.0,NaN,NaN,NaN,9.0,66.500000,12.5,2
1611,mp,maiello,chiara,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,0.0,0.0,9.0,NaN,NaN,NaN,63.833333,12.1,3
153,mp,morlevat,roméo,9.0,9.0,9.0,9.0,4.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.333333,8.6,13
273,mp,néel,noé,9.0,9.0,9.0,9.0,9.0,9.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,36.000000,7.8,15
235,mp,randrianitandrina,fifaliana,9.0,9.0,9.0,9.0,9.0,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.833333,7.6,16
265,mp,sablon,margot,9.0,9.0,0.0,9.0,9.0,0.0,2.0,...,9.0,NaN,2.0,NaN,9.0,NaN,0.0,48.833333,9.8,11
239,mp,tissier,auriane,9.0,0.0,9.0,9.0,5.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000,4.6,21
1410,mp,vuattoux,cyrielle,9.0,0.0,0.0,9.0,9.0,9.0,0.0,...,9.0,0.0,9.0,NaN,NaN,NaN,1.0,39.666667,8.3,14
188,mpp,abenhaïm,gabriel,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.833333,14.0,6
77,mpp,achard,romain,9.0,NaN,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,NaN,NaN,NaN,NaN,NaN,72.166667,12.3,11
248,mpp,boeuf,bryan,9.0,9.0,9.0,9.0,9.0,0.0,0.0,...,9.0,9.0,9.0,6.0,9.0,9.0,9.0,83.500000,13.4,7
412,mpp,bontron,elouan,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.333333,13.1,9
296,mpp,boyer,matthieu,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,4.0,7.0,9.0,1.0,9.0,119.666667,16.9,1
1411,mpp,canto,alexandre,0.0,0.0,0.0,9.0,9.0,9.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.333333,8.3,24
318,mpp,deroche,arthur,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.166667,14.6,5
15,mpp,durand,alexandre,9.0,NaN,9.0,9.0,9.0,9.0,9.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,60.333333,11.1,14
2012,mpp,fauchère,maxime,9.0,9.0,9.0,9.0,9.0,9.0,8.0,...,9.0,1.0,9.0,5.0,1.0,NaN,NaN,58.833333,11.0,15
1512,mpp,fombonne,tibo,9.0,9.0,9.0,0.0,9.0,9.0,9.0,...,9.0,0.0,9.0,7.0,4.0,9.0,9.0,67.000000,11.8,13
910,mpp,frely,matéo,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,5.0,9.0,7.0,3.0,NaN,NaN,98.000000,14.8,4
305,mpp,gaboriau,célestin,9.0,9.0,0.0,5.0,9.0,9.0,9.0,...,0.0,0.0,9.0,3.0,9.0,NaN,9.0,47.333333,9.9,23
241,mpp,holl,anna,9.0,9.0,9.0,0.0,9.0,9.0,9.0,...,9.0,9.0,9.0,6.0,NaN,NaN,7.0,50.666667,10.2,22
18,mpp,joubert,tino,9.0,0.0,9.0,9.0,9.0,9.0,9.0,...,9.0,0.0,0.0,5.0,9.0,0.0,0.0,59.500000,11.0,16
91,mpp,mallet,arsène,9.0,NaN,NaN,5.0,7.0,9.0,9.0,...,0.0,9.0,9.0,NaN,NaN,NaN,NaN,57.333333,10.8,19
33,mpp,mami,sofiane,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,NaN,1.0,6.0,9.0,101.833333,15.1,3
281,mpp,mendes,dorian,9.0,9.0,9.0,0.0,9.0,9.0,9.0,...,9.0,0.0,9.0,7.0,9.0,9.0,9.0,75.500000,12.6,10
307,mpp,mikolajski,léo,9.0,9.0,9.0,9.0,7.0,0.0,0.0,...,9.0,0.0,0.0,NaN,NaN,NaN,1.0,58.333333,10.9,17
201,mpp,moronnoz,joël,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.333333,12.3,12
105,mpp,picot,louis,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,51.500000,10.3,21
42,mpp,robin,simon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,5.3,25
611,mpp,rodriguez,paul,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,108.666667,15.8,2
225,mpp,selmane,khâlis,9.0,9.0,9.0,9.0,9.0,9.0,NaN,...,9.0,0.0,9.0,0.0,1.0,NaN,NaN,54.166667,10.5,20
178,mpp,verdier,solène,9.0,9.0,9.0,9.0,9.0,0.0,9.0,...,9.0,0.0,NaN,NaN,NaN,NaN,NaN,81.833333,13.2,8
312,mpp,ville,alice,9.0,9.0,9.0,9.0,9.0,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.666667,10.9,18

In [7]:
d.df["itc_3_pcc"].loc[2011:]

,classe,nom,prenom,I,II.1,II.2,II.3,II.4,III.1,II.2.1,...,II.7,II.8,II.9,II.10,II.11,II.12,II.13,brut,note,rang
id,,,,,,,,,,,,,,,,,,,,,
2011,pcc,guillaume,sacha,0.0,9.0,9.0,NaN,NaN,1.0,9.0,...,9.0,9.0,9.0,3.0,NaN,NaN,NaN,30.833333,8.4,29
2806,pcc,hornebeck,gauthier,0.0,9.0,9.0,3.0,NaN,0.0,9.0,...,9.0,0.0,8.0,NaN,NaN,NaN,NaN,23.166667,5.5,35
1310b,pcc,humbert,eloi,9.0,9.0,9.0,9.0,1.0,0.0,9.0,...,9.0,9.0,8.0,NaN,9.0,9.0,9.0,46.833333,14.6,3
603,pcc,jeanningros,lou-anne,8.0,9.0,1.0,9.0,0.0,9.0,9.0,...,9.0,9.0,9.0,NaN,NaN,NaN,NaN,35.666667,10.3,21
3012,pcc,laignel,bastien,8.0,8.0,7.0,9.0,9.0,2.0,8.0,...,9.0,9.0,9.0,7.0,0.0,NaN,NaN,42.166667,12.8,9
1204,pcc,leveque,chloé,8.0,5.0,8.0,9.0,0.0,0.0,9.0,...,9.0,9.0,NaN,1.0,NaN,NaN,NaN,34.166667,9.7,24
510,pcc,levita,emma,9.0,0.0,7.0,9.0,0.0,4.0,9.0,...,9.0,0.0,9.0,9.0,5.0,7.0,0.0,41.500000,12.5,12
204,pcc,marguin,jérémy,7.0,5.0,NaN,NaN,NaN,0.0,9.0,...,9.0,9.0,7.0,NaN,NaN,4.0,NaN,27.666667,7.2,31
2909,pcc,mas,liam,0.0,9.0,1.0,9.0,0.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,0.0,9.0,41.833333,12.7,10
2303,pcc,miault,corentin,9.0,9.0,1.0,9.0,8.0,NaN,9.0,...,9.0,9.0,9.0,NaN,NaN,7.0,NaN,41.333333,12.5,13
2011b,pcc,normand,bastien,0.0,5.0,9.0,9.0,1.0,9.0,9.0,...,NaN,9.0,NaN,NaN,NaN,NaN,NaN,26.500000,6.8,32
1504,pcc,pitiot,samuel,7.0,9.0,1.0,0.0,0.0,2.0,9.0,...,9.0,9.0,9.0,2.0,9.0,4.0,8.0,37.000000,10.8,19
1106,pcc,quertigniez,eva,0.0,9.0,5.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,0.0,NaN,NaN,NaN,31.500000,8.7,27
2407,pcc,traineau,thomas,0.0,9.0,1.0,9.0,7.0,0.0,1.0,...,9.0,9.0,9.0,1.0,NaN,NaN,NaN,26.166667,6.6,33