In [45]:
%load_ext autoreload
%autoreload 2
from devoir import Devoir

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
df = d.df["itc_3 (MPP + PCC)"]
b = d.bareme["itc_3 (MPP + PCC)"]
# for i in range(len(df[b.index])):
#     print(i)
#     df[b.index].iloc[i]/9
print(df[b.index].iloc[51])

I.1       5.0
I.2
I.3       8.0
I.4       9.0
I.5       NaN
I.6       0.0
II.1      NaN
II.2      9.0
II.3      8.0
II.4      8.0
II.5      9.0
II.6      7.0
II.7      9.0
II.8      9.0
II.9      8.0
II.10     NaN
II.11     9.0
II.12     6.0
II.13     9.0
II.14     NaN
II.15     NaN
II.16     NaN
II.17     NaN
II.18     NaN
II.19     NaN
II.20     NaN
II.21     NaN
II.22     NaN
III.1     NaN
III.2     NaN
III.3     NaN
III.4     NaN
III.5     NaN
III.6     NaN
III.7     NaN
III.8     NaN
III.9     NaN
III.10    NaN
III.11    NaN
III.12    NaN
III.13    NaN
III.14    NaN
III.15    NaN
III.16    NaN
III.17    NaN
III.18    NaN
III.19    NaN
III.20    NaN
III.21    NaN
III.22    NaN
III.23    NaN
III.24    NaN
III.25    NaN
Name: 2004-07-12 00:00:00, dtype: object

In [48]:
d = Devoir("23", "notes23.xlsx")
d.mean("itc_1 (MPP)", 
    {"mpp": 13},
    {"mpp" : 2.5}
)
d.mean("itc_1 (MP)", 
    {"mp": 12},
    {"mp" : 3.5}
)
d.mean("itc_1 (PSI)", 
    {"psi": 12},
    {"psi" : 3.5}
)
d.mean("itc_1 (PC)", 
       
    {"pc": 12},
    {"pc" : 3.5}
)
d.mean("option_1", 
    {"mpp": 13, "mp": 11},
    {"mpp" : 3.5, "mp" : 3.5}
)
d.mean("option_2", 
    {"mp": 10, "mpp": 12.5},
    {"mp" : 3.5, "mpp": 3}
)
d.mean("itc_2",
    {"pc": 12, "psi": 11.5},
    {"pc" : 3.5, "psi": 3.5}
)
d.mean("itc_2 (MP)", 
    {"mp": 12, "mpp": 13.5},
    {"mp" : 3.5, "mpp": 3.5}
)
d.mean("itc_3 (MPP + PCC)", 
    {"pc": 11.5},
    {"pc" : 3.5}
)
dd = d.anonymize()
ds = "itc_3 (MPP + PCC)"
classe = "pc"
# # dc = dd["option"]["2"]["df"].query("classe == 'mpp'")
print(d.df[ds].query(f"classe == '{classe}'")[["note", "nom"]])
d.df[ds].query(f"classe == '{classe}'")[["note"]].to_clipboard(index=False, header=None)  #, "nom"]]

            note                    nom
id
2004-04-04  10.3      ALGOURDIN Antoine
2003-07-20   8.2  AYALA Ludovic Gabriel
2004-12-08  11.5       BOISSON Baptiste
2004-04-30  15.1           BROGI Andrea
2004-04-01  11.8        CHABALIER Marie
2004-09-09  12.3           DASSIE Angel
2004-01-05  12.2       DELATTRE Quentin
2003-09-21  18.1        DENIAU Matthias
2005-07-31  17.6    DHERBECOURT Raphaël
2004-10-03  19.9          DI CIOCCO Léo
2004-10-05  14.7        FRUSTIE Cédrine
2004-11-29  11.7        GALLOT Charline
2004-07-12  10.7     GUILLEMAUD Sibylle
2004-10-19  13.6        HELY-JOLY Diego
2004-11-19  13.9          HERMANT Louis
2004-04-20   4.6      HUMBERT Gabrielle
2004-06-07   6.2    LEMMET--VIDAL Lucie
2004-11-16  13.9        NIVET Madeleine
2004-10-23  10.7          PAYOUX Carole
2004-05-03   5.8       PEYRONNET Victor
2004-10-05  13.7           POINOT Elise
2004-06-27   9.4      PORCHERON Pauline
2004-07-01   9.9           PROST Oriane
2004-10-16  12.7             RETY Simon
2004-08-09  12.7          ROBBE Tristan
2004-05-04  14.3        ROBESSON Sandra
2003-12-24   9.9            ZAHIDI Taha
2004-02-17  10.8         ZENNADI Nassim

In [3]:
8.1
11.2
10.5
11.6
11.0
17.3
11.4
7.6
8.9
10.5
15.7
17.9
12.4
12.7
14.0
12.9
12.6
14.1
8.1
17.5
14.7
14.2

(13, 4)

In [3]:
d.df[ds][["note", "nom"]]  #, "nom"]]

            note                       nom
id
2004-11-18   8.4             AKHLAFA Amine
2006-06-03   9.6            AUBRIOT Martin
2004-11-22   9.2               BECT Mattéo
2005-06-26  10.8          BENEFORTI Nicola
2004-05-02  13.7              BERARD Yanis
2004-09-03  15.9          COUTURIER Julien
2004-09-27   7.9                COVOLO Tom
2004-02-20  10.6              DARTEIL Côme
2004-08-02  11.9          DELATTRE Mathias
2004-12-20   9.5       DUFFEZ Pierre-Louis
2005-04-05  15.6              DUMAS Eliott
2003-10-09  19.5               FRELY Matéo
2004-04-13  14.5           KUPRADZE Giorgi
2004-01-09  13.3             MALLET Arsène
2004-11-11  16.2               MATHON Paul
2003-07-30  17.4            MIKOLAJSKI Léo
2004-11-03  16.5               MOUNIER Leo
2004-08-02  15.0                ROUX Simon
2003-05-22   7.6            SELMANE Khalis
2004-05-04  11.2            SIGURET Audric
2005-02-08  17.7       TORT MARTINEZ Adria
2003-12-03  13.9               VILLE Alice
2004-12-09   7.3            BIGUENET Marie
2006-03-04  14.1              BUCHET Simon
2004-04-13  14.1        COURSIMAUX Quentin
2004-04-29  12.8       DEMOUVEAUX Valentin
2004-04-07  11.2           DRUET Theophile
2004-12-30  11.7             FAVIER Eliott
2004-12-11   8.0          GENOSKE Angélika
2004-01-21  10.9                HUTREL Leo
2004-02-07   9.3         KHANAKAEV Magomed
2004-05-09  11.9             KUMMEL Thomas
2004-07-02  12.0           MANTEAU Romaric
2004-10-12   8.0            MASNOU Jérémie
2004-02-29   3.6               MOISAN Loan
2004-04-14   9.8             MOREAU Cédric
2004-02-05   7.0             MOUGEOT Clara
2004-10-01  11.8             PERDRIX Félix
2005-02-26  10.9            PETIT Jonathan
2004-11-26   6.6               PRIVAT Hugo
2004-11-03  17.6  RAKOTOBE Safidy Jonathan
2004-12-16  10.5           RICHARD Tristan
2004-04-11  15.3           SAADI Meyssoume
2004-11-13  17.6          SCAPPATICCI Lisa