In [1]:
%load_ext autoreload
%autoreload 2
from devoir import Devoir

In [15]:
d = Devoir("23", "notes23.xlsx")
d.mean("itc_1 (MPP)", 
    {"mpp": 13},
    {"mpp" : 2.5}
)
d.mean("itc_1 (MP)", 
    {"mp": 12},
    {"mp" : 3.5}
)
d.mean("itc_1 (PSI)", 
    {"psi": 12},
    {"psi" : 3.5}
)
d.mean("itc_1 (PC)", 
       
    {"pc": 12},
    {"pc" : 3.5}
)
d.mean("option_1", 
    {"mpp": 13, "mp": 11},
    {"mpp" : 3.5, "mp" : 3.5}
)
d.mean("option_2", 
    {"mp": 10, "mpp": 12.5},
    {"mp" : 3.5, "mpp": 3}
)
d.mean("itc_2",
    {"pc": 12, "psi": 11.5},
    {"pc" : 3.5, "psi": 3.5}
)
d.mean("itc_2 (MP)", 
    {"mp": 12, "mpp": 13.5},
    {"mp" : 3.5, "mpp": 3.5}
)
d.mean("itc_3 (MPP + PCC)", 
    {"pc": 11.5, "mpp": 13},
    {"pc" : 3.5, "mpp": 3.5}
)
d.mean("itc_3 (PSI + MP)", 
    {"psi": 11.5, "mp": 12},
    {"psi" : 3.5, "mp": 3.5}
)
d.mean("option_3", 
    {"mp": 10, "mpp": 13},
    {"mp" : 3.5, "mpp": 3}
)
dd = d.anonymize()
ds = "itc_3 (PSI + MP)"
classe = "mp"
# # dc = dd["option"]["2"]["df"].query("classe == 'mpp'")
print(d.df[ds].query(f"classe == '{classe}'")[["note", "nom"]])
d.df[ds].query(f"classe == '{classe}'")[["note"]].to_clipboard(index=False, header=None)  #, "nom"]]

            note                       nom
id
2004-06-16  -1.7      AHMED-BELKACEM Neyla
2005-03-06  10.5             ARNAUD Marine
2004-11-02  13.0              BEGUE Mathis
2004-01-29   6.5            BERTHET Romain
2004-12-09  14.4            BIGUENET Marie
2004-08-09   8.5           BOUHJAR Souhail
2006-03-04  18.6              BUCHET Simon
2004-06-28  14.0             CAILLOL Lubin
2004-04-13   9.4        COURSIMAUX Quentin
2004-04-29  10.1       DEMOUVEAUX Valentin
2004-04-07  14.6           DRUET Theophile
2004-12-30  14.2             FAVIER Eliott
2003-07-23   6.0           FLOREA Théodore
2004-12-11   9.5          GENOSKE Angélika
2004-04-08  10.1          HADDOUCHE Mathis
2004-01-21  15.4                HUTREL Leo
2004-11-14  15.2           IMBERT Violette
2004-12-14  12.3  JOCTEUR-MONROZIER Martin
2004-02-07  10.7         KHANAKAEV Magomed
2004-05-09  16.8             KUMMEL Thomas
2004-03-15   6.0      MAMODE HOSSEN Rayhan
2004-07-02  14.2           MANTEAU Romaric
2004-10-12  11.7            MASNOU Jérémie
2003-12-30   5.7    MBWEBI BINYAM Félicité
2004-02-29   8.0               MOISAN Loan
2004-04-24  13.7         MONJALON Corentin
2004-04-14  13.5             MOREAU Cédric
2004-02-05  11.3             MOUGEOT Clara
2004-02-25   7.6              PANIE Arthur
2004-10-14  16.7   PASCAL--COASSY Baptiste
2005-08-17  13.5           PASQUET Anaelle
2004-10-01  15.6             PERDRIX Félix
2005-02-26  15.4            PETIT Jonathan
2004-01-10   6.0           PREVOTAUX Ayako
2004-11-26  11.4               PRIVAT Hugo
2004-11-03  14.0  RAKOTOBE Safidy Jonathan
2004-12-16  16.9           RICHARD Tristan
2004-04-11  11.2           SAADI Meyssoume
2004-11-13  14.3          SCAPPATICCI Lisa
2004-05-24   8.3                TIGNAT Noé
2004-12-16  15.1              TREMBLAY Leo

In [3]:
8.1
11.2
10.5
11.6
11.0
17.3
11.4
7.6
8.9
10.5
15.7
17.9
12.4
12.7
14.0
12.9
12.6
14.1
8.1
17.5
14.7
14.2

(13, 4)

In [3]:
d.df[ds][["note", "nom"]]  #, "nom"]]

            note                       nom
id
2004-11-18   8.4             AKHLAFA Amine
2006-06-03   9.6            AUBRIOT Martin
2004-11-22   9.2               BECT Mattéo
2005-06-26  10.8          BENEFORTI Nicola
2004-05-02  13.7              BERARD Yanis
2004-09-03  15.9          COUTURIER Julien
2004-09-27   7.9                COVOLO Tom
2004-02-20  10.6              DARTEIL Côme
2004-08-02  11.9          DELATTRE Mathias
2004-12-20   9.5       DUFFEZ Pierre-Louis
2005-04-05  15.6              DUMAS Eliott
2003-10-09  19.5               FRELY Matéo
2004-04-13  14.5           KUPRADZE Giorgi
2004-01-09  13.3             MALLET Arsène
2004-11-11  16.2               MATHON Paul
2003-07-30  17.4            MIKOLAJSKI Léo
2004-11-03  16.5               MOUNIER Leo
2004-08-02  15.0                ROUX Simon
2003-05-22   7.6            SELMANE Khalis
2004-05-04  11.2            SIGURET Audric
2005-02-08  17.7       TORT MARTINEZ Adria
2003-12-03  13.9               VILLE Alice
2004-12-09   7.3            BIGUENET Marie
2006-03-04  14.1              BUCHET Simon
2004-04-13  14.1        COURSIMAUX Quentin
2004-04-29  12.8       DEMOUVEAUX Valentin
2004-04-07  11.2           DRUET Theophile
2004-12-30  11.7             FAVIER Eliott
2004-12-11   8.0          GENOSKE Angélika
2004-01-21  10.9                HUTREL Leo
2004-02-07   9.3         KHANAKAEV Magomed
2004-05-09  11.9             KUMMEL Thomas
2004-07-02  12.0           MANTEAU Romaric
2004-10-12   8.0            MASNOU Jérémie
2004-02-29   3.6               MOISAN Loan
2004-04-14   9.8             MOREAU Cédric
2004-02-05   7.0             MOUGEOT Clara
2004-10-01  11.8             PERDRIX Félix
2005-02-26  10.9            PETIT Jonathan
2004-11-26   6.6               PRIVAT Hugo
2004-11-03  17.6  RAKOTOBE Safidy Jonathan
2004-12-16  10.5           RICHARD Tristan
2004-04-11  15.3           SAADI Meyssoume
2004-11-13  17.6          SCAPPATICCI Lisa