In [4]:
%load_ext autoreload
%autoreload 2
from devoir import Devoir

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
d = Devoir("23", "notes23.xlsx")
d.mean("itc_1 (MPP)", 
    {"mpp": 13},
    {"mpp" : 2.5}
)
d.mean("itc_1 (MP)", 
    {"mp": 12},
    {"mp" : 3.5}
)
d.mean("itc_1 (PSI)", 
    {"psi": 12},
    {"psi" : 3.5}
)
d.mean("itc_1 (PC)", 
       
    {"pc": 12},
    {"pc" : 3.5}
)
d.mean("option_1", 
    {"mpp": 13, "mp": 11},
    {"mpp" : 3.5, "mp" : 3.5}
)
d.mean("itc_2",
    {"pc": 12, "psi": 11.5},
    {"pc" : 3.5, "psi": 3.5}
)
d.mean("itc_2 (MP)", 
    {"mp": 12},
    {"mp" : 3.5}
)
dd = d.anonymize()
ds = "itc_2 (MP)"
classe = "mp"
# # dc = dd["option"]["2"]["df"].query("classe == 'mpp'")
# print(d.df[ds].query(f"classe == '{classe}'")[["note", "nom"]])
d.df[ds].query(f"classe == '{classe}'")[["note"]].to_clipboard(index=False, header=None)  #, "nom"]]

In [ ]:
9,5
12,3
13,6
11,5
9,8
12,9
16,4
13,1
15,2
10,3
13,3
14,2
5,5
12,2
8,1
15,8
12,3
12,8
13,0
11,8
7,1
16,3
10,8
0,1
14,6
16,7
13,6
12,4
5,5
11,5
15,3
10,4
16,9
8,2
14,1
7,4
12,0
13,6
16,1
12,0
14,2

In [12]:
d.df[ds][["note", "nom"]]  #, "nom"]]

            note              nom
id
2005-02-25  13.0    ALLÈGRE Nolan
2004-06-18  11.1   AUBERT Jocelyn
2005-12-01  14.3  AZIBERT Guilhem
2004-11-15   9.3     BARTHEZ Paul
2004-07-30   9.0     BEGON Marine
...          ...              ...
2004-10-16  13.3       RETY Simon
2004-08-09  13.0    ROBBE Tristan
2004-05-04  10.6  ROBESSON Sandra
2003-12-24   3.5      ZAHIDI Taha
2004-02-17  12.4   ZENNADI Nassim

[70 rows x 2 columns]