In [67]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from devoir import Devoir

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [72]:
d = Devoir("22", "notes22.xlsx")
d.mean("option2", 
    {"mpp" : 12, "mp": 9},
    {"mpp" : 2.5, "mp": 2.5}
)
d.anonymize("option2")

In [69]:
d.bareme["option2"].to_frame().T

,I.1,I.2,I.3,II.1,II.2,II.3,II.4,II.5,II.6,II.7,...,II.18,II.19,II.20,II.21,II.22,II.23,II.24,II.25,II.26,II.27
0,2.0,4.0,3.0,3.0,3.0,1.0,1.0,4.0,2.0,2.0,...,3.0,NaN,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0